.RollDice{
    display:flex;
    flex-flow:column nowrap;
    min-height:100vh;
}

.RollDice-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.RollDice button{
    font-weight: 500;
    align-self: center;
    width:15em;
    padding:1.5em;
    border:2px;
    border-radius: 12px;
    color:black;
    background-color: white;
    margin-top: 3em;
}

.RollDice button:hover{
    background-color:rgb(143, 143, 143);
    cursor: pointer;
}

.footer {
    font-weight: 500;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 500%;
    background-color:white;
    color: black;
    text-align: left;
  }